In [1]:
#CITATION :- DATA SCIENCE FROM SCRATCH CHAPTER 2 EXAMPLES
#Functions
def double(x):
    return x*2

In [2]:
double(2)
def apply_to_one(f):
    return f(1)

In [3]:
# anonymous functions
y =  apply_to_one(lambda x : x *2)
y

2

In [4]:
def substract(a=0, b=0):
    return a - b

In [5]:
substract(10, 5)

5

In [6]:
#Exceptions
try:
    open("data.txt")
except:
    print ("Could not open file")

Could not open file

In [7]:
integer_list = [1,2,3]

In [8]:
x= range(10)

In [9]:
x

range(0, 10)

In [10]:
#Slicing
x[:3]

range(0, 3)

In [11]:
#negative slicing 
x[:-3]

range(0, 7)

In [12]:
x = [1,2,3]

In [13]:
x.extend([2,3,4])

In [14]:
x

[1, 2, 3, 2, 3, 4]

In [15]:
#Tuples
def findSumAndProduct(x,y):
    return (x+y),(x*y)

In [16]:
findSumAndProduct(5,4)

(9, 20)

In [17]:
#Dictionaries
dictionary = dict()
dictionary["abhi"] = 80
dictionary["manu"] = 95

In [18]:
dictionary.get("abhi",0)
dictionary.get("ma",0)

0

In [19]:
tweet = {
"user" : "joelgrus",
"text" : "Data Science is Awesome",
"retweet_count" : 100,
"hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [20]:
key = tweet.keys()
key

dict_keys(['text', 'retweet_count', 'hashtags', 'user'])

In [21]:
value = tweet.values()
value

dict_values(['Data Science is Awesome', 100, ['#data', '#science', '#datascience', '#awesome', '#yolo'], 'joelgrus'])

In [22]:
items = tweet.items()
items

dict_items([('text', 'Data Science is Awesome'), ('retweet_count', 100), ('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo']), ('user', 'joelgrus')])

In [23]:
# default dict
from collections import defaultdict

words = defaultdict()

In [24]:
#Counter
from collections import Counter

In [25]:
c = Counter([0, 1, 2, 0])
c

Counter({0: 2, 1: 1, 2: 1})

In [26]:
#sets
s = set()

In [27]:
s.add(1)
s.add(1)
s

{1}

In [28]:
#sorting
y = sorted(x)
y

[1, 2, 2, 3, 3, 4]

In [29]:
x.sort()
x

[1, 2, 2, 3, 3, 4]

In [30]:
#List Comprehensions
square = [x*x for x in range(5)]
square

[0, 1, 4, 9, 16]

In [31]:
pairs = [(x,y) for x in range(10)
        for y in range(20)]
pairs

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (0, 10),
 (0, 11),
 (0, 12),
 (0, 13),
 (0, 14),
 (0, 15),
 (0, 16),
 (0, 17),
 (0, 18),
 (0, 19),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (1, 10),
 (1, 11),
 (1, 12),
 (1, 13),
 (1, 14),
 (1, 15),
 (1, 16),
 (1, 17),
 (1, 18),
 (1, 19),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (2, 10),
 (2, 11),
 (2, 12),
 (2, 13),
 (2, 14),
 (2, 15),
 (2, 16),
 (2, 17),
 (2, 18),
 (2, 19),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (3, 10),
 (3, 11),
 (3, 12),
 (3, 13),
 (3, 14),
 (3, 15),
 (3, 16),
 (3, 17),
 (3, 18),
 (3, 19),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (4, 10),
 (4, 11),
 (4, 12),
 (4, 13),
 (4, 14),
 (4, 15),
 (4, 16),
 (4, 17),
 (4, 18),
 (4, 19),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (5, 10),
 (5, 11),
 (5, 12),
 (5, 13),
 (5, 14),
 (5, 15),
 (5, 16),
 (5, 17),
 (5, 18),
 (5, 19),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (6, 10),
 (6, 11),
 (6, 12),
 (6, 13),
 (6, 14),
 (6, 15),
 (6, 16),
 (6, 17),
 (6, 18),
 (6, 19),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (7, 10),
 (7, 11),
 (7, 12),
 (7, 13),
 (7, 14),
 (7, 15),
 (7, 16),
 (7, 17),
 (7, 18),
 (7, 19),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (8, 10),
 (8, 11),
 (8, 12),
 (8, 13),
 (8, 14),
 (8, 15),
 (8, 16),
 (8, 17),
 (8, 18),
 (8, 19),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9),
 (9, 10),
 (9, 11),
 (9, 12),
 (9, 13),
 (9, 14),
 (9, 15),
 (9, 16),
 (9, 17),
 (9, 18),
 (9, 19)]

In [32]:
#generators and Iterators
def simple_range(n):
    i = 0
    while i < n:
        yield i
        i += 1
simple_range(10)

In [33]:
#Randomness
import random

In [34]:
random.seed(10)
print (random.random())

0.5714025946899135

In [35]:
random.randrange(1,10)

7

In [36]:
four_with_replacement = [random.choice(range(10))
                         for _ in range(4)]

In [37]:
four_with_replacement

[7, 9, 0, 3]

In [38]:
#Object Oriented Programming
class Set:
    def __init__(self, values=None):
        self.dict = {}
        if values is not None:
            for value in values:
                self.add(value)
    
    def add(self, value):
        self.dict[value] = True

s = Set([1,2,3])
s.add(4)

In [39]:
s

In [40]:
print(s)

<__main__.Set object at 0x10416a8d0>

In [41]:
def multiply(x, y): return x * y
products = map(multiply, [1, 2], [4, 5])
products

In [42]:
# zip and argument unpacking
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
zip(list1, list2)

In [43]:
#args and kwargs
def doubler(f):
    def g(x):
        return 2 * f(x)
    return g

def f1(x):
    return x + 1

g = doubler(f1)

print (g(10)) 
print (g(-10))

22
-18

In [44]:
t2 = (3,)

In [45]:
t2

(3,)

In [46]:
[1,2] + [3]

[1, 2, 3]

In [47]:
(1,2)+(3)

TypeError: can only concatenate tuple (not "int") to tuple